<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Song</key>
	<dict>
		<key>fields</key>
		<array>
			<dict>
				<key>attribute</key>
				<string>title</string>
				<key>serializedAttribute</key>
				<string>title</string>
			</dict>
			<dict>
				<key>attribute</key>
				<string>id</string>
				<key>serializedAttribute</key>
				<string>id</string>
				<key>primaryKey</key>
				<true/>
			</dict>
			<dict>
				<key>converter</key>
				<dict>
					<key>options</key>
					<dict>
						<key>fullSerialization</key>
						<false/>
						<key>class</key>
						<string>Artist</string>
					</dict>
					<key>type</key>
					<string>foreignKey</string>
				</dict>
				<key>attribute</key>
				<string>artist</string>
				<key>serializedAttribute</key>
				<string>artist</string>
			</dict>
		</array>
	</dict>
	<key>Album</key>
	<dict>
		<key>fields</key>
		<array>
			<dict>
				<key>attribute</key>
				<string>name</string>
				<key>serializedAttribute</key>
				<string>name</string>
			</dict>
			<dict>
				<key>primaryKey</key>
				<true/>
				<key>attribute</key>
				<string>id</string>
				<key>serializedAttribute</key>
				<string>album_id</string>
			</dict>
			<dict>
				<key>converter</key>
				<dict>
					<key>options</key>
					<dict>
						<key>converter</key>
						<dict>
							<key>options</key>
							<dict>
								<key>isNested</key>
								<true/>
								<key>fullSerialization</key>
								<false/>
								<key>class</key>
								<string>Song</string>
							</dict>
							<key>type</key>
							<string>foreignKey</string>
						</dict>
					</dict>
					<key>type</key>
					<string>set</string>
				</dict>
				<key>attribute</key>
				<string>songs</string>
				<key>serializedAttribute</key>
				<string>songs</string>
			</dict>
			<dict>
				<key>converter</key>
				<dict>
					<key>options</key>
					<dict>
						<key>fullSerialization</key>
						<false/>
						<key>class</key>
						<string>Artist</string>
					</dict>
					<key>type</key>
					<string>foreignKey</string>
				</dict>
				<key>attribute</key>
				<string>artist</string>
				<key>serializedAttribute</key>
				<string>artist</string>
			</dict>
		</array>
	</dict>
	<key>Artist</key>
	<dict>
		<key>fields</key>
		<array>
			<dict>
				<key>attribute</key>
				<string>name</string>
				<key>serializedAttribute</key>
				<string>name</string>
			</dict>
			<dict>
				<key>primaryKey</key>
				<true/>
				<key>attribute</key>
				<string>id</string>
				<key>serializedAttribute</key>
				<string>objectId</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
